
<nav>

    <div class="navbar">
       <img id="logo" src="\assets\LOGO.png">
       <ul class="menu">
        <li><a href="">Olá, Matheus Proença<mat-icon aria-hidden="false" aria-label="Example arrow icon"> arrow_drop_down</mat-icon></a></li>
       </ul>
    </div>

</nav>

<section class="home">
    <div class="lefttittle">
    <div class="leftcontainer"></div>

    <div class="rightcontainer">
        <h1 id="tittle">Fase teste prático Front_end </h1>
        <p id="subtittle">PokeBusca</p>
       
        
        <div class="alignline"><div class="line"></div></div>
        <div id="divsearch"><p>
            <mat-form-field id="search" >
                <mat-label></mat-label>
                <input matInput placeholder="Buscar">
                <mat-icon  matSuffix>search</mat-icon>
              </mat-form-field>
            

          </p>
        </div>
        <p id="exibir">Exibindo 5 de 20 itens
        </p>
        
        
        
        <app-pokemon-list></app-pokemon-list>
        
            
            



        
        <div class="alignline"><div class="line"></div></div>
        
        

    </div>
   

</div>


</section>

<footer>

    
</footer>
















